[submodule "SDL"]
	path = SDL
	url = https://github.com/spurious/SDL-mirror.git

[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d.git
	
[submodule "game"]
	path = game
	url = https://github.com/avans-night-byte/game.git
